<table class="dashboard" id="staging-dashboard">
  <thead>
    <tr>
      <th>Project</th>
      <th>Requests</th>
      <th>Building repo.</th>
      <th>Broken pack.</th>
      <th>openQA</th>
    </tr>
  </thead>
  <tbody>
    <%- @staging_projects.each do |project| %>
      <tr>
        <th rowspan="2" class="project">
          <%= link_to project.letter, staging_project_path(project.id) %>

        </th>
        <td rowspan="2">
          <div class="packages-list">
            <% project.classified_requests.each do |r| %>
                <span class="<%= r[:css] %>">
                  <%= link_to r[:package], main_app.request_show_path(r[:id]) %>
                </span>
            <% end -%>
          </div>
        </td>
        <%= render partial: "buildinfo_cells", locals: {project: project} %>
        <%= render partial: "openqa_jobs_cells", locals: {project: project} %>
      </tr>
      <tr>
        <% if project.subprojects.empty? %>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        <% else %>
          <%= render partial: "buildinfo_cells", locals: {project: project.subprojects.first} %>
          <%= render partial: "openqa_jobs_cells", locals: {project: project.subprojects.first} %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
