<table class="dashboard" id="staging-dashboard">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <%- @staging_projects.each do |project| %>
        <th>Staging:<%= project.letter %></th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
    <tr class="packages">
      <th>Packages</th>
      <%- @staging_projects.each do |project| %>
        <td><%= project.description_packages %></td>
      <%- end %>
    </tr>
    <tr class="untracked-requests number">
      <th>Untracked</th>
      <%- @staging_projects.each do |project| %>
        <td><span class="main">?</span></td>
      <%- end %>
    </tr>
    <tr class="obsolete-requests number">
      <th>Obsolete</th>
      <%- @staging_projects.each do |project| %>
        <%- count = project.obsolete_requests.count %>
        <td>
          <%= link_to count,
                "javascript:window.toggle_display('obsolete-list-#{project.letter}')",
                class: "#{(count.zero? ? 'ok' : 'alert')} main" %>
          <div style="display:none" id="obsolete-list-<%= project.letter %>">
            <%= render project.obsolete_requests %>
          </div>
        </td>
      <%- end %>
    </tr>
    <tr class="unreviewed-requests number">
      <th>Unreviewed</th>
      <%- @staging_projects.each do |project| %>
        <td><span class="main">?</span></td>
      <%- end %>
    </tr>
    <tr class="building-repositories number">
      <th>Building</th>
      <%- @staging_projects.each do |project| %>
        <td>
          <%= render partial: 'building_repositories', locals: {project: project, is_dvd: false} %>
        </td>
      <%- end %>
    </tr>
    <tr class="broken-packages number">
      <th>Broken</th>
      <%- @staging_projects.each do |project| %>
        <td>
          <%= render partial: 'broken_packages', locals: {project: project, is_dvd: false} %>
        </td>
      <%- end %>
    </tr>
    <tr class="openqa">
      <th>OpenQA</th>
      <%- @staging_projects.each do |project| %>
        <td><%= render project.openqa_jobs %></td>
      <%- end %>
    </tr>
    <tr>
      <th colspan="<%= @staging_projects.size + 1 %>">DVD subproject</th>
    </tr>
    <tr class="building-repositories number">
      <th>Building</th>
      <%- @staging_projects.each do |project| %>
        <td>
          <%- unless project.subprojects.empty? %>
            <%= render partial: 'building_repositories', locals: {project: project.subprojects.first, is_dvd: true} %>
          <%- end %>
        </td>
      <%- end %>
    </tr>
    <tr class="broken-packages number">
      <th>Broken</th>
      <%- @staging_projects.each do |project| %>
        <td>
          <%- unless project.subprojects.empty? %>
            <%= render partial: 'broken_packages', locals: {project: project.subprojects.first, is_dvd: true} %>
          <%- end %>
        </td>
      <%- end %>
    </tr>
    <tr class="openqa">
      <th>OpenQA</th>
      <%- @staging_projects.each do |project| %>
        <td>
          <%- unless project.subprojects.empty? %>
            <%= render project.subprojects.first.openqa_jobs %>
          <%- end %>
        </td>
      <%- end %>
    </tr>
  </tbody>
</table>
